<section class="stepsix">
  <div class="form-group center max-width has-padding">
    <h2><%= label_tag :q1, "Step 6: Pick a page layout" %></h2>
    <div class="row">
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/nylxze3epxwu029/layoutone.png" %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= link_to image_tag("https://dl.dropboxusercontent.com/s/nqbozml5iqgi9sk/layouttwo.png"), form7_path %>
        </div>
      </div>
      <div class="col-md-4">
        <div class="thumbnail">
          <%= image_tag "https://dl.dropboxusercontent.com/s/clsinhy4agt4g8f/layoutthree.png" %>
        </div>
      </div>
    </div>
  </div>
</section>